.dashboard {
    display: grid;
    place-items: center;
    height: 70vh;
    .countboxs{
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // width: 1000px;
        
    }
}
