.reports{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    min-height: 200px;
    width:100%;
    p{
        cursor: pointer;
        font-weight: 600;
    }
}