@import "../../../variable.scss";
.forgotpassword {
  display: grid;
  place-items: center;
  height: 100vh;
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-width: 500px;
    min-height: 350px;
    border-radius: 8px;
    border-top:4px solid #05f;
    background-color: $cardColor;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    div:nth-of-type(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      img {
        width: 35px;
        height: 35px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 60%;
      label {
        font-size: 15px;
        font-weight:600;
      }
      input {
        height: 25px;
        border-radius: 6px;
        border: none;
        padding: 8px;
        color: #242d49;
        background-color: rgba(40, 52, 62, 0.07);
        &:focus {
          outline: none;
          border: 2px solid $orange;
        }
        &::placeholder {
          color: #242d49;
        }
      }
      button {
        margin-top: 10px;
        padding: 8px;
        border-radius: 3px;
      }
      p{
        color:rgb(177, 34, 34);
        font-size: 15px;
        margin:5px 0 0 0;
      }
    }
  }
}
